{{!< default}}
{{#author}}
  {{> "components/archive-header" heading=name description=bio}}
{{/author}}
<section class="list">
  {{> "components/feed-list"}}
  {{pagination}}
</section>
{{#author}}
  {{> "components/breadcrumbs" crumb_two_name=name crumb_two_url=(url absolute="true")}}
{{/author}}