{{!< default}}
<h1 class="sr-only">{{@site.title}}</h1>
<section class="list" aria-labelledby="feed-heading">
  <h2 id="feed-heading" class="sr-only">Latest posts</h2>
  {{#if @site.description}}<p class="subtle">{{@site.description}}</p>{{/if}}
  {{> "components/feed-list"}}
  {{pagination}}
</section>
