{{!< default}}
{{#post}}
  <article class="{{post_class}}">
    {{> "components/post-header"}}
    {{> "components/feature-image" img_size="xl" width="1200" height="630"}}
    <section class="post-content">
      {{content}}
    </section>
    {{> "components/post-nav"}}
  </article>
  {{> "components/comments"}}
{{/post}}