{{!< default}}
{{> "components/archive-header" heading_prefix="#" heading=tag.name description=tag.description}}
<section class="list">
  {{> "components/feed-list"}}
  {{pagination}}
</section>
{{#tag}}
  {{> "components/breadcrumbs" crumb_two_name=(concat "#" name) crumb_two_url=(url absolute="true")}}
{{/tag}}
