{{!< default}}
{{> "components/archive-header" heading="Tags"}}
<section class="list">
  <ul class="feed">
    {{#get "tags" limit="100" include="count.posts" order="name asc"}}
      {{#foreach tags}}
        <li>
          <a href="{{url}}">#{{name}}</a>
          <span class="subtle">({{count.posts}})</span>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
</section>