<button
  class="icon-btn theme-toggle"
  id="theme-toggle"
  type="button"
  aria-label="Toggle dark mode"
  aria-pressed="false"
>
  <span class="theme-icon moon" aria-hidden="true"><iconify-icon
      icon="mdi:weather-night"
      width="18"
      height="18"
    ></iconify-icon></span>
  <span class="theme-icon sun" aria-hidden="true"><iconify-icon
      icon="mdi:white-balance-sunny"
      width="18"
      height="18"
    ></iconify-icon></span>
  <span class="label">Theme</span>
</button>